.inOutput{
  text-align: center;
  color: brown;
}
.imgOutput{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px brown;
}
#centerButt{
  display: flex;
  justify-content: center;
}
.buttOutput{
  margin-right: 20px;
  color: brown;
}
